[Parameters]
# model params, used in fit
b = 1
m = 0.3
m_dot = 4e-07
r_star = 2.0
inclination = 37
t_0 = 4000
t_slab = 8000
n_e = 10000000000000.0
tau = 1.0
# known from stellar model, Baraffe
t_star = 3400
log_g_star = 3.5
#scaling parameters, will not affect spectra
d_star = 408
av = 2.1
rv = 3.1

# model resolution params
l_min = 3000.0
l_max = 50000.0
n_data = 420000
l_0 = 3000
mag_comp = hslab
n_disk = 350
n_dust_disk = 50
n_h_minus = 5000
n_h = 5000
#wavelength at which optical depth is calculated
l_l_slab = 3000

# save and plot switches
save = False
save_each = False
save_grid_data = False
plot = True
verbose = True

# file paths
bt_settl_path = /home/arch/yso/BT_settl_models/npy_files
save_loc = /home/arch/yso/validation_files/ysopy_outputs/fu_ori
h_grid_path = /home/arch/yso/H_slab_test
h_min_grid_path = /home/arch/yso/H_slab_grid_aug24/H_minus_flux
